<?xml version="1.0" encoding="UTF-8"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="basepath" value="."></arg>
    <arg name="cache" value=".phpcs-cache"></arg>
    <arg name="colors" value=""></arg>
    <arg name="extensions" value="php"></arg>

    <rule ref="PSR12"/>

    <file>src/</file>
    <file>tests</file>
    <file>features/bootstrap</file>

</ruleset>
